body {
    background-color: #444;
}

main {
    display: flex;
    justify-content: center;
}

.products-grid {
    width: 100%;
    max-width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.products-grid img {
    width: 200px;
    height: 240px;
}